<h3>Swahili Box Stats</h3>
<p>
      <span class="badge"> <%= @events.count %></span> <%= link_to "Total Events", events_path %> <%# not yet created a page for them%> 
    <br>
      <span class="badge"> <%= @jobs.count %></span> <%= link_to "Total Jobs", jobs_path %> <%# not yet created a page for them%>
    <br>
      <span class="badge"> <%= @jobs.count %></span> <%= link_to "Total companies" %> <%# not yet created a page for them%>
    <br>
      <span class="badge"> <%= @members.count %></span> <%= link_to "Total Members", members_path %> 
    <br>
      <span class="badge"> <%= @blogs.count %></span> <%= link_to "Total Blog Posts", blogs_path %> 
    <br>
</p>
<h3><%= link_to 'MEMBERSHIPS', members_path %></h3>
<h3><%= link_to 'POST A JOB', new_job_path %></h3>


<h3>Events Board</h3>

<table>
  <tbody> <%# as per ihub. there is just the event name and dates and the name is truncated at some point%>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to (truncate(strip_tags(event.name), length: 45)), event %></td>
        <td><%= event.location %></td>
        <td><%= event.date %></td><!-- somthing is seriously awful about thsi format, work on it-->
        <td><%= event.start %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Jobs Board</h3>
<tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to (truncate(strip_tags(job.title), length: 55)), jobs_path %></td>
      </tr>
    <% end %>
  </tbody>

<h2>Listing blogs</h2>

<table>
  <thead>
    <tr>
    <th></th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= image_tag blog.image.url(:thumb) %></td>
        <td><%= link_to (truncate(strip_tags(blog.title), length: 55)), blog %></td>
        <td><%= truncate(strip_tags(blog.content), length: 150) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Our Partners</h3>



